MYSQL_HOST=localhost
MYSQL_USER=admin
MYSQL_PASS=password
MYSQL_ROOT_PASSWORD=password
MYSQL_DATABASE=sd2-db
MYSQL_ROOT_USER=root
DB_CONTAINER=db
DB_PORT=3306
GRAPHHOPPER_API_KEY=e8612b41-05cf-4f89-b6ee-f2af3920c81b
