extends layout

block content
    .container
        h2 Change Password
        if error.length
            .alert.alert-danger= error
        if success.length
            .alert.alert-success= success

        form(action="/account/edit/password" method="POST")
            .form-group
                label(for="current_password") Current Password
                input#current_password.form-control(type="password" name="current_password" required)
            .form-group
                label(for="new_password") New Password
                input#new_password.form-control(type="password" name="new_password" required)
            .form-group
                label(for="confirm_password") Confirm New Password
                input#confirm_password.form-control(type="password" name="confirm_password" required)

            button.btn.btn-primary.mt-3(type="submit") Update Password
