extends layout

block content
  each user in data
    div.fluid.rounded.bg-light.mb-3.p-3
      .d-flex
        // Image container with fixed size
        .image-container
          img(src=user.profile_pic, alt="Profile Picture", class="img-fluid")
          
        // Content container for text
        .content-container.ml-3
          h2 #{user.user_name}
          p Role: #{user.role}
          p Bio: #{user.bio}

  if !data.length
    p No users found.
